:root {
  /* IRIS - logo, button color*/
  --logo-color: #4d5ae5;
  --btn-color: #4d5ae5;
  /* NAVY BLUE - hero background (bg), menu & headings fonts*/
  --hero-color: #2e2f42;
  --heading-color: #2e2f42;
  /* SLATE - dark fonts contacts & main text */
  --address-color: #434455;
  --main-fonts: #434455;
  /* CLOUD & white - light fonts, Section-3 bg */
  --light-font: #f4f4fd;
  --white-color: #ffffff;
  /* CORNFLOWER - Section-2 bg, Portfolio bg*/
  --portfolio-bgc: #e7e9fc;
  /* OCEAN - aktive button */
  --hover-btn: #404bbf;
}

/**
  |============================
  | RESET indents
  |============================
*/

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/**
  |============================
  | Base styles
  |============================
*/

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-fonts);
  background-color: var(--white-color);
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
  /*  контур елемента 
  outline: 2px solid red;
  outline-offset: -2px; */
}

img {
  display: block;
}

/* для заголовків перезадаємо параметри */
.header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  margin-bottom: 8px;
}

.main-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-fonts);
}

/**
  |============================
  | RESET
  |============================
*/

/* Видалення підкреслення link-ів */
.link {
  text-decoration: none;
}

/* Видалення маркерів, нумерації */
.list {
  list-style: none;
}

/* Прихований заголовок */
/* .hide-titel {
  display: none;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Альтернативний варіант - атрибут hidden в html */

/* для прибирання курсиву */
address {
  /* font-style: normal; */
  font-style: inherit;
  margin-left: auto;
}

/**
  |============================
  | HEADER
  |============================
*/

.header-box {
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: var(--portfolio-bgc);
  border-bottom-width: 1px;
  /*  контур елемента 
    outline: 2px solid red;
    outline-offset: -2px; */
}

.header-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header-nav {
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
  /* margin-right: auto; */
}

.header-menu {
  display: flex;
  list-style: none;
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  text-decoration: none;
  /* align-items: center; */
}

.logo-header {
  margin-right: 76px;
}

.logo-studio {
  color: var(--heading-color);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  display: flex;
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--hover-btn);
}

.contacts-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-color);
}

/**
  |============================
  | Hero section
  |============================
*/

.hero-bloc {
  /* background-color: var(--hero-color); */
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
  margin: 0 auto 48px auto;
  max-width: 496px;
}

section {
  padding-bottom: 120px;
}

/* ==========BUTTON STYLE========== */

.btn {
  background-color: var(--btn-color);
  display: flex;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-btn);
}

.btn-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

/**
  |============================
  | SECTIONs
  |============================
*/

/* ========== Section-1 "Feature" ========== */
/*  (h3 = header під "body") */

.section-delta {
  padding-top: 120px;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.scroll-box {
  flex-basis: calc((100%-72px) / 4);
  /* gap: 24px; */
}

.feature-icon-box {
  display: flex;
  height: 112px;
  /* width: 264px; */
  justify-content: center;
  align-items: center;
  background: var(--light-font);
  border-radius: 4px;
  margin-bottom: 8px;
}

/* ========== Section 2,(3) (h2) ========== */

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--heading-color);
  margin-bottom: 72px;
}

.work-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.work-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* ========== Section 3 ========== */

.sec-three {
  /* Кожне Слово З Великої Літери */
  text-transform: capitalize;
  background-color: var(--light-font);
}

.team-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  /* padding-left: 0px; */
}

.team-items {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border: #e7e9fc;
  /* border-width:  1px;
  border-style: solid; */
  /* Тінь навколо ракмок: */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.photo {
  display: block;
  max-width: 100%;
}

.team-member {
  padding: 32px 16px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

/**
  |============================
  | FOOTER
  |============================
*/

.footer-section {
  background: var(--heading-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  /* display: flex; */
  display: inline-block;
  margin-bottom: 16px;
}

.studio-footer {
  color: var(--light-font);
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-font);
  max-width: 264px;
}

/**
  |============================
  | PAGE2 - PORTFOLIO
  |============================
*/

.container-portfolio {
  padding: 96px 0 120px;
  /*  контур елемента 
  outline: 2px solid red;
  outline-offset: -2px; */
}

.list-menu-prtf {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.list-portfolio {
  list-style-type: none;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  /* padding-left: 0px; */
  row-gap: 48px;
}

.portfolio-item {
  max-width: 360px;
  width: calc((100% - 48px) / 3);
}

.portfolio-work {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  text-decoration: none;
}

/* ==========BUTTON STYLE========== */

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--btn-color);
  background: var(--light-font);
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  border: 1px solid var(--portfolio-bgc);
  border-radius: 4px;
  /* min-width: 69px; */
  padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--hover-btn);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  /* цей стиль для вимкнення кольору при ховері: */
  border: 1px solid transparent;
  /* border: 1px solid var(--hover-btn); */
}
